* {
    margin: 0 0;
    padding: 0 0;
}

body {
    width: 100vw;
    height: 100vh;
}

content, header, content, footer, aside, main, nav {
    display: block;
    position: relative;
}

a {
    color: inherit;
}

.clear {
    clear: both;
}